<div class="container">
  <section>
    <div id="container_demo">
      <div id="wrapper">
        <div id="register" class="form">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
              <%= devise_error_messages! %>
              <p>
                <%= f.label :邮箱 %>
                <%= f.email_field :email, autofocus: true %>
              <p>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <p class="field">
                <%= f.label :新密码 %>
                <%= f.password_field :password, autocomplete: "off" %>
              </p>

              <p class="field">
                <%= f.label :确认新密码 %>
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </p>

              <p class="field">
                <%= f.label :密码 %>
                <%= f.password_field :current_password, autocomplete: "off" %>
              </p>

              <p>
                <%= f.submit "更改", :class => 'btn', style: '30%' %>
              </p>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
