<div class="wrapper row3" style="flex: 1">
  <main class="hoc container clear btmpad-none">
    <div class="content single-col">
      <h4 class="title-divider"><span>上传身份证照片</span></h4>
      <div class="form">
        <%= form_for @upload, url: '/upload', html: { multipart: true } do |form| %>
          <% if flash[:error] %>
            <div id="flash_alert">
              <%= flash[:error] %>
            </div>
          <% end %>
          <% if flash[:notice] %>
            <div id="flash_notice">
              <%= flash[:notice] %>
            </div>
          <% end %>
            <div class="one_quarter first"><span style="margin-right:15px;font-size: 18px;">寄件号</span></div>
            <div class="two_quarter">
              <%= form.text_field :package, :required => true %>
            </div>

            <div class="one_quarter first">
              <%= label_tag 'id_number', '身份证号码', style: "padding-top: 3px;font-weight: 400; font-size:16px;" %>
            </div>
            <div class="two_quarter">
              <%= form.text_field :id_number, :required => true %>
            </div>
            <div class="one_quarter first">
              <%= label_tag 'id_front', '身份证正面', style: "padding-top: 3px;font-weight: 400; font-size:16px;" %>
            </div>
            <div class="two_quarter">
              <%=  form.file_field :id_front, :required => true %>
            </div>
            <div class="one_quarter first">
              <%= label_tag 'id_front', '身份证背面', style: "padding-top: 3px;font-weight: 400; font-size:16px;" %>
            </div>
            <div class="two_quarter">
              <%= form.file_field :id_back, :required => true %>
            </div>

            <div class="clear topspace-25">
              <%= form.submit '提交', class: 'btn'%>
            </div>
        <% end %>
      </div>
    </div>
  </main>
</div>