<div container="container">
  <section>
    <div id="container_demo">
      <div id="wrapper">
        <div id="login" class="form">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>

          <p>
          <%= f.label :password, "新密码" %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
          </p>

          <p>
            <%= f.label :password_confirmation, "确认新密码" %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </p>

          <p>
          <%= f.submit "修改我的密码", :class => 'btn', :style => 'width:30%;' %>
          </p>
        <% end %>
        </div>
      </div>
    </div>
  </section>
</div>

