<div class="container" style="flex:1">
  <section>
    <div id="container_demo"> 
      <div id="wrapper">
        <div id="register" class="form">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

          <p>
            <%= f.label :邮箱 %>
            <%= f.email_field :email, required: true, type: 'email', autofocus: true %>
          </p>

          <p>
            <%= f.submit "重置密码", :class => 'btn', style: 'width:30%' %>
          </p>
          <p>
            <%= link_to "已经注册？", new_session_path(resource_name), :class => "to_register" %>
          </p>
        <% end %>

        </div>
      </div>
    </div>
  </section>
</div>

