<div class="wrapper row3">
  <main class="hoc container clear">
    <h2 class="title-divider"><span>我的订单</span></h2>
    <table>
      <thead>
        <tr>
          <th>订单号</th>
          <th>详细信息</th>
          <th>总价</th>
          <th>下单时间</th>
          <th>查询</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |o| %>
          <tr>
            <td><%= o.id %></td>
            <td>
              <ul style="list-style: none; padding-left:0;">
                <% item_lines(o).each do |name, data| %>
                  <li>
                    <span><%= name %></span>
                    <span>X</span>
                    <span><%= data[:quantity] %></span>
                  </li>
                <% end %>
              </ul>

            </td>
            <td><%= total_price(o) %>加币</td>
            <td><%= o.created_at.localtime.strftime '%Y-%m-%d %H:%M:%S' %></td>
            <td>等待寄出</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @orders, :page_links => false %>
  </main>

  <main class="hoc container clear">
    <h2 class="title-divider"><span>我的寄件</span></h2>
    <table>
      <thead>
      <tr>
        <th>寄件单号</th>
        <th>提交时间</th>
        <th>地址</th>
        <th>状态</th>
      </tr>
      </thead>
      <tbody>
        <% @packages.each do |p| %>
          <tr>
            <td><%= p.serial %></td>
            <td><%= p.created_at.localtime.strftime '%Y-%m-%d %H:%M:%S' %></td>
            <td>
              <span style="font-weight: 500"><%= p.address.name %></span>
              <span><%= "#{p.address.address_line1} #{p.address.city} #{p.address.state}"%></span>
            </td>
            <td>
              <% if p.status == 'pending' %>
                等待寄送
              <% elsif p.status == 'received' %>
                已收到
              <% else %>
                查询
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @packages, :page_links => false %>
  </main>
  <main class="hoc container clear">
    <h2 class="title-divider"><span>我的余额</span></h2>
    <p>此功能还未开通</p>
  </main>
</div>