<div class="wrapper row3" style="flex:1;">
  <main class="hoc container clear">
    <div class="content">
      <ul class="progress-tracker progress-tracker--word progress-tracker--word-center">
        <li class="progress-step is-active">
          <span class="progress-marker"></span>
          <span class="progress-text">
              购物车
            </span>
        </li>

        <li class="progress-step">
          <span class="progress-marker"></span>
          <span class="progress-text">
              寄送地址
            </span>
        </li>

        <li class="progress-step">
          <span class="progress-marker"></span>
          <span class="progress-text">
              确认付款
            </span>
        </li>
        <li class="progress-step">
          <span class="progress-marker"></span>
          <span class="progress-text">
              完成
            </span>
        </li>
      </ul>
      <h4 class="title-divider"><span>购物车详情</span></h4>
      <% if @cart.empty? %>
          <p>你的购物车还没有任何物品</p>
          <%= link_to '现在去选购商品', products_path, style: "color: #2BB656; text-decoration: underline;font-size:17px" %>
      <% else %>
          <table>
            <thead>
              <tr>
                <th>商品</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @cart.each do |item| %>
                <tr>
                  <td>
                    <div class="one_half first">
                      <%= image_tag item[:product][:image1] || 'http://bulma.io/images/placeholders/128x128.png', size: '128x128' %>
                    </div>
                    <div class="one_half">
                      <ul style="list-style: none; padding-left:0;">
                        <li style="font-weight: 400;font-size:17px;"><%= item[:product]['name'] %></li>
                        <li style="padding-top: 10px;"><span style="padding-right:8px;">单价:</span><%= item[:product]['price']%>加元</li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <div>
                      <%= form_tag cart_path, method: :put do %>
                          <%= number_field_tag(:quantity, item[:quantity], :style => 'display: inline-block;padding-right: 7px;') %>
                          <%= hidden_field_tag :id, item[:product]['id'] %>
                          <%= submit_tag '更新购物车', :style => 'border:none;display:inline;background-color:transparent;color:#2BB656;cursor:pointer' %>
                      <% end %>
                    </div>

                    <%= link_to '删除', cart_path(id: item[:product]['id'],return: Base64.encode64(cart_path)), method: :delete %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= form_tag 'cart/address', method: :get do %>
              <div class="block btmspace-80">
                <%= submit_tag '选择邮寄地址', :class => 'btn'%>
              </div>
          <% end %>
      <% end %>


    </div>
  </main>
</div>
