<div>
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div>
        <%= link_to image_tag("logo.png", :class => "loginimg"), root_path %>
      </div>
    </header>
  </div>
</div>

<div class="container">
  <section>
    <div id="container_demo" >
      <div id="wrapper">
        <div id="login" class="animate form">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <h1>登录</h1>
            <p>
              <%= f.label :邮箱：, :class => "uname"%>
              <%= f.email_field :email, :required => true, :type => "text", :placeholder => "Email Address", autofocus: true %>
            </p>
            <p>
              <%= f.label :密码：, :class => "youpasswd"%>
              <%= f.password_field :password, :required => true, :type => "password", :placeholder => "Password", autocomplete: "off" %>
            </p>
              <% if devise_mapping.rememberable? -%>
                <p class="keeplogin">
                  <%= f.check_box :remember_me %>
                  <%= f.label :保持登录 %>
                </p>
              <% end -%>
              <p class="login button">
                <%= f.submit "登录" %>
            </p>
            <p class="change_link">
              还不是会员?
              <%= link_to "注册", new_registration_path(resource_name), :class => "to_register" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>