<%= form_tag checkout_path do %>
  <div id="error_explanation">
    <% if flash[:error].present? %>
      <p><%= flash[:error] %></p>
    <% end %>
  </div>
  <% @checkout_items.each do |item| %>
  <div class="checkout-item">
    <div class="name">item.name</div>
    <div class="price">item.price</div>
  </div>
  <% end %>
  <article>
    <label class="amount">
      <span>Amount: <%= number_to_currency(@amount) %></span>
    </label>
  </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description="Cart checkout"
  data-amount="<%= @amount %>"
  data-locale="ca"></script>
<% end %>

