<div class="wrapper row3">
  <main class="hoc container clear btmpad-none">
    <div class="content">
      <div class="form">
        <h2>给我们留言:</h2>
        <% if flash[:notice] %>
            <div class="alert alert-success"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:error] %>
            <div class="alert alert-danger"><%= flash[:error] %></div>
        <% end %>
        <%= form_for @contact, url: {action: 'create'} do |f| %>
            <div class='one_third first'>
              <%= f.label :name, '姓名' %>
              <%= f.text_field :name, :required => true %>
            </div>
            <div class='one_third'>
              <%= f.label :email, '邮箱' %>
              <%= f.text_field :email, :required => true %>
            </div>
            <div class="one_third">
              <%= f.label :phone, '电话' %>
              <%= f.telephone_field :phone %>
            </div>
            <div class='block clear'>
              <%= f.label :message, '您的留言' %>
              <%= f.text_area :message, :cols => 25, :rows => 10 %>
            </div>
            <div>
              <%= f.submit "提交", :class => 'btn' %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="clear"></div>
  </main>
</div>
<div class="wrapper bgded overlay coloured">
  <section class="hoc container clear">
    <ul class="nospace group infoboxes">
      <li class="one_third first">
        <article class="infobox"><i class="fa fa-phone"></i>
          <h6>电话</h6>
          <p>587-937-2008</p>
        </article>
      </li>
      <li class="one_third">
        <article class="infobox"><i class="fa fa-envelope-o"></i>
          <h6>邮箱</h6>
          <p>support@superunique.ca</p>
        </article>
      </li>
      <li class="one_third">
        <article class="infobox"><i class="fa fa-clock-o"></i>
          <h6>工作时间</h6>
          <p>工作日 9AM-9PM</p>
        </article>
      </li>
    </ul>
    <div class="clear"></div>
  </section>
</div>
