<div id="app"> 
<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="sidebarJ one_quarter first">
      <h6>目录</h6>
      <nav class="sdb_holder">
        <ul>
          <li><a href="#">所有产品</a></li>
          <ul>
            <li><a href="#">保健品</a></li>
            <li><a href="#">奶粉</a>
              <ul>
                <li><a href="#">雅培</a></li>
                <li><a href="#">雀巢</a></li>
              </ul>
            </li>
            <li><a href="#">日用品</a>
              <ul>
                <li><a href="#">护肤品</a></li>
                <li><a href="#">洗浴用</a>
                </li>
              </ul>
            </li>
            <li><a href="#">折扣产品</a></li>
          </ul>
        </ul>
      </nav>
    </div>

    <div class="content three_quarter">
      <div id="gallery">
        <figure>
          <ul class="nospace clear">
            <% @products.each_with_index do |product, index| %>
              <li class="one_quarter" <% if index % 4 == 0 %>class="first"<% end %>>
                <%= image_tag("co2.jpg") %></a>
                <figcaption><%= product.name %></figcaption>
                <figcaption><b>价格: <%= product.price%></b></figcaption>
                <figcaption class="addnow">
                <div class="btn" v-on:click=<%= "addCart(#{product.id}, 1)" %>>加入购物车</div> 
                </figcaption>
              </li>
            <% end %>
          </ul>
        </figure>
      </div>
      <nav class="pagination">
        <%= will_paginate @products %>
      </nav>
    </div>
    <div class="clear"></div>
  </main>
</div>
</div>
