<div class="wrapper row3" style="flex: 1;">
  <main class="hoc container clear">
    <div class="one_quarter first">
      <div class="sidebar">
        <div class="category-title">商品种类</div>
        <ul style="list-style: none;">
          <li><%= link_to '全部', products_path %></li>
          <%  @categories.each do |category| %>
            <li><%= link_to category.name, packages_path(:fitler => category.id)%></li>
          <% end %>
        </ul>
        <div class="category-title">品牌</div>
        <ul style="list-style: none;">
          <li><a href="">雅培</a></li>
          <li><a href="">伊犁</a></li>
        </ul>
      </div>
    </div>
    <div class="content three_quarter">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="">商品</a></li>
        <li class="breadcrumb-item"><a href="">保健品</a></li>
      </ul>
      <% @products.each_with_index do |product, index| %>
          <div class="one_quarter <%= 'first' if index % 4 == 0 %>" style="text-align: center; margin-top:25px;">
            <figure>
              <%= image_tag product.image1.url, size: '150x150', style: 'width:150px;height:150px' %>
            </figure>
            <div style="text-align: center;">
              <p style="font-weight:500; font-size:18px;margin-top:10px;text-overflow: ellipsis; max-height: 48px;overflow:hidden;"><%= link_to product.name, product_path(product.id) %></p>
              <div style="color:gray; margin-top:6px;">Costco, Canada</div>
              <div style="font-weight: 400"><%= "$#{product.price} 加元" %></div>
            </div>
          </div>
      <% end %>
      <%= will_paginate @products %>

    </div>
    <div class="clear"></div>
  </main>
</div>
