<div class="wrapper row3" style="flex: 1;">
  <main class="hoc container clear">
    <div class="one_quarter first">
      <div class="sidebar">
        <div class="category-title">商品种类</div>
        <ul style="list-style: none;">
          <li><%= link_to '全部', products_path %></li>
          <%  @categories.each do |category| %>
            <li><%= link_to category.name, products_path(:category_id => category.id) %></li>
          <% end %>
        </ul>
        <% if @brands %>
          <div class="category-title">品牌</div>
            <ul style="list-style: none;">
              <% @brands.each do |brand| %>
                <li><%= link_to brand, products_path(:category_id => @currentCategoryId, :brand => brand) %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
    </div>
    <div class="content three_quarter">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to '全部商品', products_path %></li>
        <% if @currentCategoryId %>
          <li class="breadcrumb-item"><%= link_to ProductCategory.find(@currentCategoryId).name, products_path(:category_id => @currentCategoryId) %></li>
        <% end %>
      </ul>
      <div id="products-grid">
        <% @products.each_with_index do |product, index| %>
            <div class="one_quarter <%= 'first' if index % 4 == 0 %>" style="text-align: center; margin-top:25px;">
              <figure>
                <%= image_tag product.image1.url, size: '150x150', style: 'width:150px;height:150px;object-fit:contain;' %>
              </figure>
              <div style="text-align: center;">
                <p style="font-weight:500; font-size:18px;margin-top:10px;text-overflow: ellipsis; height: 48px;overflow:hidden;"><%= link_to product.name, product_path(product.id) %></p>
                <div style="color:gray; margin-top:6px;"><%= product.brand %></div>
                <div style="font-weight: 400"><%= "$#{product.price1} 加元" %></div>
              </div>
            </div>
        <% end %>
      </div>
      <%= will_paginate @products %>

    </div>
    <div class="clear"></div>
  </main>
</div>
