<div class="wrapper row3" style="flex:1;">
  <main class="hoc container clear">
    <div class="content">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to '全部商品', products_path %></li>
        <li class="breadcrumb-item"><%= link_to @product.product_category.name, products_path(:category_id => @product.product_category.id) %></li>
      </ul>
      <div class="one_half first" style="margin-top: 20px;">
        <div class="large-view">
          <figure>
            <%= image_tag @product.image1.url, size: '350x350', style: 'height: 350px; width: 350px;object-fit:contain;' %>
          </figure>
        </div>
        <div class="thumbnail-strip">
          <% @product.available_images.each_with_index do |img, index| %>
              <div class="one_quarter <%= if index % 4 == 0 then
                                            'first'
                                          end %>" style="margin-top: 5px;">
                <figure class="<%= if index == 0 then
                                     'selected'
                                   end %>">
                  <%= image_tag img.url, size: '100x100', style: 'height: 100px; width: 100px;object-fit:contain;' %>
                </figure>
              </div>
          <% end %>
        </div>
      </div>
      <div class="one_half">
        <p style="font-weight: 600;font-size: 25px;"><%= @product.name %></p>
        <div style="">
          <span style="float:left;font-size: 18px;">价格:</span>
          <span style="float:left;font-size: 19px;color: red;text-align: left;margin-left:20px"><%= "#{@product.price} 加元" %></span>
        </div>
        <div class="clear"></div>
        <div style="">
          <span style="float:left;font-size: 18px;">邮费:</span>
          <span style="float:left;font-size: 17px;color: gray;text-align: left;margin-left:20px"><%= "#{@product.shipping_price} 加元／件（瓶）" %></span>
        </div>
        <div class="clear"></div>
        <div style="font-weight: 400; font-size: 17px; margin-top:20px;">产品描述</div>
        <p style="padding-top:0px;color:gray;"><%= @product.detail %></p>
        <div style="margin-top:25px;">
          <%= form_tag '/cart/new', method: :post do %>
              <%= hidden_field_tag :product, @product.id %>
              <%= submit_tag '加入购物车', :class => 'btn btn-lg' %>
          <% end %>
        </div>
      </div>
      </div>


    <div class="clear"></div>
  </main>
</div>

