<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div class="fl_left">
      <a href="/"><%= image_tag("logo.png") %></a>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><%= link_to '主页', root_path %></li>
        <li><%= link_to '寄件', packages_path %></li>
        <li><%= link_to '联系我们', contact_path %></li>
        <% if user_signed_in? %>
            <li><%= link_to "登出 #{current_user.email}", destroy_user_session_path %></li>
        <% else %>
            <li><%= link_to '登陆', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>
</div>