<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div class="fl_left">
      <a href="/"><%= image_tag("logo.png") %></a>
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle"><span></span></a>
      </div>
      <ul class="nav-list">
        <li class="<%= if set_active_class(root_path) then
                         "active"
                       end %>"><%= link_to '主页', root_path %></li>
        <li class="<%= if set_active_class(products_path) then
                         "active"
                       end %>"><%= link_to '商店', products_path %></li>
        <li class="<%= if set_active_class(new_package_path) then
                         "active"
                       end %>"><%= link_to '寄件', new_package_path %></li>
        <li class="<%= if set_active_class(rates_path) then
                         "active"
                       end %>"><%= link_to '邮寄费率', rates_path %></li>
        <li class="<%= if set_active_class(contact_path) then
                         "active"
                       end %>"><%= link_to '联系我们', contact_path %></li>
        <li class="<%= if set_active_class(cart_path) then
                         "active"
                       end %>"><a href=<%= cart_path %>>购物车</a>
        </li>

        <% if user_signed_in? %>
            <li class="<%= if set_active_class() then
                             "active"
                           end %>">
              <a>我的帐户</a>
              <ul class="nav-dropdown">
                <li>
                  <%= link_to '更改邮箱', edit_user_registration_path %>
                </li>
                <li>
                  <%= link_to '更改密码', edit_user_registration_path %>
                </li>
                <li><%= link_to '我的订单', myorder_path %></li>
                <% if current_user.profile %>
                    <li><%= link_to '我的资料',  profile_path(current_user.profile.id) %></li>
                <% else %>
                    <li><%= link_to '添加我的资料', new_profile_path %></li>
                <% end %>
                <li><%= link_to '管理我的联系人', manage_addresses_path %></li>

                <% if current_user.admin? %>
                    <li><%= link_to '管理员界面', dashboard_path %></li>
                <% end %>
                <li>
                  <%= link_to "注销", destroy_user_session_path %>
                </li>
              </ul>
            </li>
        <% else %>
            <li class="<%= if set_active_class() then
                             "active"
                           end %>"><%= link_to '登陆', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>
</div>
