<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div class="fl_left">
      <a href="/"><%= image_tag("logo.png") %></a>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><%= link_to '主页', root_path %></li>
        <li><%= link_to '寄件', new_package_path %></li>
        <li><%= link_to '邮寄费率', rates_path %></li>
        <li><%= link_to '联系我们', contact_path %></li>
        <li><a href=<%= cart_path %> style="font-size:20px;"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </li>

        <% if user_signed_in? %>
            <li>
              <a href="" class="drop">我的帐户</a>
              <ul>
                <li>
                  <%= link_to '更改邮箱', edit_user_registration_path %>
                </li>
                <li>
                  <%= link_to '更改密码', edit_user_registration_path %>
                </li>
                <li><%= link_to '我的订单', myorder_path %></li>
                <% if current_user.admin? %>
                    <li><%= link_to '管理员界面', dashboard_path, :style => '' %></li>
                <% end %>
                <li>
                  <%= link_to "退出", destroy_user_session_path %>
                </li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to '登陆', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>
</div>
