<!DOCTYPE html>
<html>
  <head>
    <title>Super Unique inc.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
    <%= yield %>
  <%= render 'layouts/footer' %>
  <%= javascript_include_tag 'application' %>
  <% if %w( dashboard packages products ).include? params[:controller] %>
      <%= javascript_include_tag params[:controller] %>
  <% end %>
  </body>
</html>
