<!DOCTYPE html>
<html>
  <head>
    <title>Super Unique inc.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
    <%= yield %>
  <%= render 'layouts/footer' %>
  <%= javascript_include_tag 'application' %>
  <% if %w( dashboard ).include? params[:controller] %>
      <%= javascript_include_tag params[:controller] %>
  <% end %>
  </body>
</html>
